.main {
    max-width: 980px;
    margin: 20px auto;
}
.org {
    margin-top: 20px;
    background-color: rgba(219, 208, 208, 0.37);
    border: 1px solid black;
    border-radius: 8px;
}
.btn_org {
    width: auto;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    background-color: #e94aff;
    color: #000;
    border: none;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.btn_org:hover {
    opacity: 0.9;
}