html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    background-color: #f3d5ed;
    max-width: 1200px;
    height: 100%;
    margin: 5vh auto;
}
.header {
    background-color: #c52ea3;
    height: 10vh;
}
.topo {
    height: 10vh;
}
.topo aside:first-child {
    background-color: #c52ea3;
    border-right: solid 2px black;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: ease 0.8s;
}
.topo aside:first-child:hover {
    cursor: pointer;
    background-color: #d84fba;
}
.topo aside:last-child {
    background-color: #dc81c8;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: ease 0.8s;
}
.topo aside:last-child:hover {
    cursor: pointer;
    background-color: #d84fba;
}

.form-donate {
    padding: 8%;
}

.form-ong {
    padding: 8%;
    display: none;
}

.estado, .cidade{
    pointer-events: none;
}

.btnUser,
.btnOng {
    width: 200px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: #e94aff;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.btnUser:hover,
.btnOng:hover {
    opacity: 0.7;
}

.btnUser:disabled,
.btnOng:disabled {
    opacity: 0.7;
    background-color: #d181db;

}

@media only screen and (max-width: 450px) {
    .main {
        margin: 5vh 0;
    }
    .form-donate {
        padding-top: 20vh;
    }
    .form-ong {
        padding-top: 20vh;
    }
    .topo aside:first-child {
        border-right: none;
    }
}
